.video_container {
  width: 640px;
  margin: 60px auto;
}

.theme_img {
  width: 150px;
}

.tc {
  width: 100px;
  margin-top: 5px;
  float: right;
}

.theme_text,
.tc {
  font-family: sans-serif;
  font-weight: bolder;
  color: burlywood;
}
